<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="/public/css/main.css"/>
    {{> scripts}}
    {{{block "page-styles"}}}
  </head>
  <body>
    <div class="container header">
      <div class="logo"></div>
      <div class="navigation">
        <ul>
          <li><a href="#home">home</a></li>
          <li><a href="#projects">projects</a></li>
          <li><a href="#search">search</a></li>
          <li><a href="#about">about</a></li>
        </ul>
      </div>
    </div>
    
    <div class="container content">
      {{{body}}}
    
      {{{block "page-content"}}}
    </div>

    <div class="container footer">

      <div class="copyright">&copy; 2013 Sean M. Arietta</div>
  </body>
</html>
