@font-face { font-family:Edmondsans-Regular; src:url('../fonts/Edmondsans-Regular.ttf'); }
@font-face { font-family:Edmondsans-Medium; src:url('../fonts/Edmondsans-Medium.ttf'); }
@font-face { font-family:Edmondsans-Bold; src:url('../fonts/Edmondsans-Bold.ttf'); }

a { text-decoration:none; color:#333; }

body { color:#333; font-family:'Edmondsans-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.container { width:900px; margin-left:auto; margin-right:auto; position:relative; }

.header { height:100px; border-bottom:1px solid #eee; font-size:20px; }
.header div { padding-bottom:10px; }
.header .logo { width:230px; height:90px; float:left; position:absolute; bottom:0; left:0;
		background-image: url('../images/common/logo.png'); background-repeat:no-repeat; }

.header .navigation { float:left; position:absolute; bottom:-5px; left:260px; }
.header .navigation ul { width:640px; border-top:1px solid #eee; padding:0; margin:0; list-style-type:none; }
.header .navigation ul li { padding:10px 30px 5px 10px; margin:0; float:left; }

.content { padding-bottom:20px; border-bottom:1px solid #ccc; font-size:16px; }
.content a { color:#369; text-transform:uppercase; }
.content li { padding-bottom:10px; }
.content h2 { font-weight:normal; font-size:26px; }

.footer { padding-top:10px; }
.footer .copyright { text-align:center; padding-top:10px; }
